<div class="container">
    <header>
        <form [formGroup]="guitarController">
            <label for="scaleName">Scale : </label>
            <select id="scaleName" formControlName="scaleName">
                <option *ngFor="let scaleName of scaleNames" [value]="scaleName">{{ scaleName }}</option>
            </select>
        </form>
    </header>
    <div class="guitar-handle">
        <ng-container *ngIf="guitarDataView">
            <div class="rope" *ngFor="let rope of guitarDataView; let index = index" [ngStyle]="{
                    width: 100 / guitarDataView.length + '%'
                }">
                <div *ngFor="let note of rope" class="fret"
                    [ngStyle]="{ height: 100 / rope.length + '%' }">
                    <button class="note" *ngIf="note.active">{{ note.noteKey }} {{ note.octave }}</button>
                </div>
            </div>
        </ng-container>
    </div>
</div>